@charset "utf-8";
*{padding: 0;margin: 0;-webkit-tap-highlight-color:transparent}
table,tbody,thead,tfoot,tr,td,ul,ol,li,a,img,b,h1,h2,h3,h4,h5,h6,em,i,b,span,div,p{font-style:normal;vertical-align:middle;font-weight:normal;border-collapse: collapse;border:0;text-decoration: none;list-style-type:none;}
html,body{font-size:14px;color:#000}


body{font-family:"宋体";font-size:14px;}
body{
    /*-webkit-user-select:none;
    user-select:none;*/
}
input{color:#000}
input:disabled{background:#fff !important;-webkit-text-fill-color:#ccc;opacity:1}
input:disabled.disabled_color{background:#fff; color:#000000;-webkit-text-fill-color:#000 !important;opacity:1}
div{outline:none;}

.wrap{background:#c0c2cc;padding:5px 0;}
.main{width:795px;background:#FFF;margin:20px auto;position:relative;padding:20px 0;box-shadow: 0px 0px 30px 5px #7d7d7d;}
.main_box{margin:0px auto;overflow:hidden;width:682px;overflow:hidden;}
.title{text-align:center;margin:20px auto;overflow:hidden;}
.title h2{font-size:24px;}

.content{width:682px;margin:0 auto;}
.content table{width:680px;border:1px solid #669999;}
.content table th{background:#e0e0e0;border-right:1px solid #669999;border-bottom:1px solid #669999;text-align:center;}
.content table td{background:#f3f3f3;border-right:1px solid #669999;border-bottom:1px solid #669999;text-align:left;}

.table_title_th{width:130px;height:34px;line-height:34px;font-size:14px;font-weight:bold;}
.table_title_td{width:197px;height:34px;line-height:34px;padding:0 5px;font-size:14px;}

.table_column{width:549px;margin:0 auto;}
.table_column_box{}

.table_skill{margin:15px auto;padding:0 5px;}
.table_skill p{font-size:14px;line-height:30px;}

.table_experience{margin:20px auto;padding:0 5px;}
.table_experience h3{font-size:14px;font-weight:bold;line-height:30px;}
.table_experience p{font-size:14px;line-height:30px;}

.table_project{margin:0 auto;}
.table_project_item:after{content:"";display:block;clear:both;}
.table_project_item{border-bottom:1px solid #669999;}
.table_project_item:last-child{border-bottom:0;}
.table_project_title{float:left;width:55px;text-align:left;padding:0 5px;font-size:12px;position:relative;}
.table_project_title span{position:absolute;top:50%;font-weight:bold;margin-top:-17px;}
.table_project_con{float:left;width:473px;border-left:1px solid #669999;padding:15px 5px;}
.table_project_con p{font-size:12px;line-height:25px;}
.table_project_con p em{vertical-align:initial;font-weight:bold;}

.side_bar{position:absolute;top:50px;right:-80px;width:42px;height:auto;}
.side_bar ul{}
.side_bar ul li{height:42px;width:42px;overflow: hidden;border: 1px solid #669999;background:#FFF;margin-bottom:10px;}
.side_bar ul li a{display:block;height:40px;line-height:40px;font-size:14px;color:#000;cursor:pointer;text-align:center;}
.side_bar ul li a.download{background: url(../images/download.png) no-repeat center center/auto auto;}
.side_bar ul li a.download:hover{background:none;font-size:14px;color:#000;}
.side_bar ul li a.print{background: url(../images/print.png) no-repeat center center/auto auto;}
.side_bar ul li a.print:hover{background:none;font-size:14px;color:#000;}







